.episode-background {
    background-color: #FAFAFA !important;
    background: #FAFAFA !important;
}

.episode-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px !important;
    /* padding-bottom: 8px !important; */
}

#menu {
    /* comment below line i.e 17 because it is disturbing the dark mode in navbar */
    /* background-color: white; */
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%) !important;
}